.StorageProductWrapper {
    height: 54.55px;
    width: 1098px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E4E7EF;
}

.StorageProductID {
    margin-left: 122px;
    margin-right: 120px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.StoragePlaceID {
    margin-left: 105px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.StorageProductWeight {
    margin-left: 180px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}