.ElementWrapper {
    height: 54.55px;
    width: 438px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E4E7EF;
}

.ElementID {
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
}

.ElementName {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 120px;
    max-width: 150px;
    justify-content: center;
}