.DeliveriesStatusButton{
    margin: 0;
    position: absolute;
    top: 21%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.AnotherExteriorButtonBox{
    display: flex;
    height: 50px;
    width: 240px;
    border-radius: 8px;
    background: linear-gradient(180deg, #105a3f 0%, #87b331d9 100%);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
}

.AnotherButtonBox{
    display: inline-flex;
    height: 59px;
    width: 240px;
    align-items: center;
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
}