.DetailTitle {
    position: flex;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 380px;
}

.GoBackBox{
    display: flex;
    flex-direction: row;
    width: 128px;
    margin-top: 140px;
    margin-left: 375px;
    cursor: pointer;
}
  
.GoBack{
    margin-left: 10px;
    height: 27px;
    width: 90px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 27px;
    vertical-align: middle;
    text-align: center;
    text-decoration: underline;
}

.DetailsRaportPanelWrapper {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
    height: 650px;
    width: 1110px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    margin: 0;
    position: absolute;
    top: 62%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.DetailsRaportWrapper {
    height: 54.55px;
    width: 1098px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E4E7EF;
}

.DetailsRaportHeaderWrapper {
    background-color: rgba(80, 110, 223, 0.1);
    width: 1100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    display: inline-flex;
    gap: 50px;
}

.DetailsRaportID{
    margin-left: 80px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 50px;
    gap: 250px;
}

.DetailsRaportWeight{
    margin-left: 15px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 90px;
}

.DetailsRaportDate{
    margin-left: 15px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 150px;
}

.DetailsRaportBatchNumber{
    margin-left: 15px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 80px;
}

.DetailsRaportDescription{
    margin-left: 205px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 50px;
}

.DetailRaportID{
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DetailRaportWeight {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    max-width: 90px;
}


.DetailRaportDate {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 35px;
    max-width: 150px;
}

.DetailRaportBatchNumber {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 35px;
    max-width: 110px;
    text-align: center;
}

.DetailRaportDescription {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    max-width: 480px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}