.EditProductsPanelWrapper {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
    height: 600px;
    width: 1250px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    position: absolute;
    margin-top: 65px;
    margin-left: 302px;
}

.EditProductsHeaderWrapper {
    background-color: rgba(80, 110, 223, 0.1);
    width: 1240px;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    display: inline-flex;
    gap: 30px;
}

.EditProductsID{
    margin-left: 15px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 125px;
}

.EditProductsCategory{
    margin-left: 65px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 100px;
}

.EditProductsElement{
    margin-left: 70px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 140px;
}

.EditProductsProducent{
    margin-left: 70px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 140px;
}

.EditProductsNumber{
    margin-left: 70px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 140px;
}

.EditProductsDate{
    margin-left: 70px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 140px;
}

.EditProductsWeight{
    margin-left: 70px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 140px;
}

.EditProductLabel {
    inline-size: 150px;
    display: inline-block;
}

.ProductFirstBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 21px;
    width: 140px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 15px;
}

.ProductSecondBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 21px;
    width: 150px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 23px;
}

.ProductThirdBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 21px;
    width: 145px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 25px;
}

.ProductFourthBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 21px;
    width: 200px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 22px;
}

.ProductFifthBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 21px;
    width: 150px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 25px;
}

.ProductSixthBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 21px;
    width: 145px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 30px;
}

.ProductSeventhBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 21px;
    width: 120px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 30px;
}