.ProductWrapper {
    height: 54.55px;
    width: 1238px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E4E7EF;
}

.ProductID {
    margin-left: 55px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductCategory {
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductElement {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.ProductProducent {
    margin-left: 5px;
    max-width: 225px;
    font-family: 'Montserrat', sans-serif;
    width: 225px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductNumber {
    margin-left: 23px;
    max-width: 125px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductDate {
    margin-left: 55px;
    max-width: 125px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductWeight {
    margin-left: 65px;
    max-width: 75px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}