.ProductWrapper {
    height: 54.55px;
    width: 1238px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E4E7EF;
}

.ProductID {
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: left;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductCategory {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 90px;
    max-width: 155px;
}

.ProductElement {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 35px;
    max-width: 110px;
}


.ProductProducent {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 40px;
    max-width: 160px;
}

.ProductNumber {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 40px;
    max-width: 125px;
}

.ProductDate {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 60px;
    max-width: 125px;
}

.ProductWeight {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 90px;
    max-width: 50px;
}