.RowButtons{
    display: inline-flex;
    width: auto;
    height: 50px;
    gap: 120px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.ProductsButton {
    display: flex;
    height: 50px;
    width: 240px;
    border-radius: 8px;
    background-color: #969393;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
  }