.CreateRaportPanelWrapper {
    border-radius: 10px;
    overflow-y: scroll;
    position: absolute;
    height: 250px;
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    margin-top: 290px;
    margin-left: 625px;
}

.CreateRaportAcceptExteriorButtonBox{
    display: flex;
    height: 35px;
    width: 180px;
    border-radius: 8px;
    background-color: #969393;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: 580px;
    margin-left: 835px;
    position: absolute;
}

.CreateRaportAcceptButtonBox{
    display: inline-flex;
    height: 59px;
    width: 240px;
    align-items: center;
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
}

.CreateRaportLabel{
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 48px;
    margin-left: 22px;
    width: 100px;
    max-width: 100px;
    display: inline-flex;
    text-align: center;
}

.DetailsLabel{
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 48px;
    margin-left: 22px;
    width: 100px;
    max-width: 460px;
    display: inline-flex;
    text-align: center;
    margin-bottom: 10px;
}

.CreateRaportInput{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 22px;
    width: 130px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 120px;
    margin-right: 5px;
}

.DetailsInput{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    height: 22px;
    width: 345px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 5px;
}

.SecondRow{
    display: inline-block;
}

.removeButton{
    background: linear-gradient(135deg, #cc37d3 0%, #c02645 100%);
    border-radius: 8px;
}

.addButton{
    margin-left: 5px;
    
    background: linear-gradient(135deg, #34a078 0%, #37B9C6 100%);
    border-radius: 8px;
}