.EmployeeWrapper {
    height: 54.55px;
    width: 1098px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E4E7EF;
}

.EmployeeName {
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.EmployeePosition {
    margin-left: 160px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}


.EmployeeTelNum {
    margin-left: 185px;
    max-width: 150px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}