.OrdersPanelWrapper[type="default"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
    height: 650px;
    width: 1110px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.OrdersPanelWrapper[type="selected"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
    height: 650px;
    width: 1110px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.OrdersID{
    margin-left: 130px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 100px;
    gap: 250px;
}

.OrdersData{
    margin-left: 35px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 100px;
}

.OrdersDetails{
    margin-left: 30px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 100px;
}

.OrdersStatus{
    margin-left: 20px;
    height: 19px;
    color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 100px;
}

.OrdersHeaderWrapper {
    background-color: rgba(80, 110, 223, 0.1);
    width: 1100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    display: inline-flex;
    gap: 175px;
}

.OrderWrapper {
    height: 54.55px;
    width: 1098px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E4E7EF;
}

.OrderID {
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: left;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OrderDate {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 85px;
    max-width: 150px;
}


.OrderDetails {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 115px;
    max-width: 150px;
    text-decoration: underline;
}

.OrderStatus {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 70px;
    max-width: 190px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}